.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
.DS_Store

# Local-only notebooks ignored from git repo
Session1_Explore/1_basics.ipynb
Session1_Explore/2_data_structures.ipynb
Session1_Explore/3_numpy.ipynb
Session1_Explore/4_pandas.ipynb
Session2_Transform/temp_delete_later.ipynb
